In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = {'column 0':[np.nan, 4, 3],
        'column 1':[9, np.nan, np.nan], 
        'column 2':[10, 2, 2]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   column 0  column 1  column 2
0       NaN       9.0        10
1       4.0       NaN         2
2       3.0       NaN         2

In [5]:
df.isna().sum().sum()

3

In [6]:
import helper_functions as hf

In [7]:
hf.null_count(df)

3

In [8]:
data = {'column 0':[0, 3, 6, 3, 5],
        'column 1':[1, 4, 7, 4, 5], 
        'column 2':[2, 5, 8, 6, 2], 
        }

In [9]:
df2 = pd.DataFrame(data)
df2

   column 0  column 1  column 2
0         0         1         2
1         3         4         5
2         6         7         8
3         3         4         6
4         5         5         2

In [10]:
from helper_functions import splitty

In [11]:
hf.splitty(df2, frac=.2)

[   column 0  column 1  column 2
 3         3         4         6,
    column 0  column 1  column 2
 1         3         4         5
 2         6         7         8
 4         5         5         2
 0         0         1         2]

In [10]:
from helper_functions import randomize

In [11]:
print(df2.columns.value_counts().sum())

3

In [12]:
hf.randomize(df2, seed= 101)

   column 2  column 0  column 1
0         2         0         1
4         2         5         5
2         8         6         7
1         5         3         4
3         6         3         4

In [45]:
address = pd.Series(['890 Jennifer Brooks\nNorth Janet, WY 24785', '8394 Kim Meadow\nDarrenville, AK 27389', 
           '379 Cain Plaza\nJosephburgh, WY 06332', '5303 Tina Hill\nAudreychester, VA 97036'])

print(address)   
address_half = address.str.split(pat='\n', expand=True)
address_half.drop(columns = 0, inplace=True)
address_half

0    890 Jennifer Brooks\nNorth Janet, WY 24785
1        8394 Kim Meadow\nDarrenville, AK 27389
2         379 Cain Plaza\nJosephburgh, WY 06332
3       5303 Tina Hill\nAudreychester, VA 97036
dtype: object

                         1
0    North Janet, WY 24785
1    Darrenville, AK 27389
2    Josephburgh, WY 06332
3  Audreychester, VA 97036

In [41]:
address.series.split('\n')

AttributeError: 'Series' object has no attribute 'series'